html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

canvas {
    border: 0px none black;
}

#SelectedSubject {
    float: right;
}

#SelectedSubjectHolder {
    width: 18%;
    display: inline-block;
    height: 80%;
}
