html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

canvas {
    border: 0px none black;
}

#SelectedSubject {
    float: right;
}

#SelectedSubjectHolder {
    width: 25%;
    display: inline-block;
    height: 80%;
	margin-top: -200px;
}
