<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!--<script src="libs/everlive.js"></script>-->
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="style/reasons_to_study.css" type="text/css">
    <meta charset='utf-8'>
  </head>
  <body class="grab_excess_space">

	<div ng-controller="FairyCtrl">
      <label>Name:</label>
      <form ng-submit="getMajor()">
        <input type="text" id="major" value='Компютърни Науки' placeholder="major">
        <input type="submit" value="it">
      </form>
	  <em>Subjects:</em>
      <ul>
        <li ng-repeat="subject in subjects">
          <span>  {{subject}} </span>
        </li>
      </ul>
	  <em>Majors:</em>
      <ul>
        <li ng-repeat="majorName in majorsNames">
          <span>  {{majorName}} </span>
        </li>
      </ul>
    </div>
  
    <canvas class="grab_excess_space" id="viewport" width="1024" height="600"></canvas>

    <script src="js/renderer.js"></script>
    <script src="libs/arbor.js"></script>

  </body>
</html>
